.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line{
    stroke-width:.5px;
}

.node{
    stroke:black;
    stroke-width:0px;
}
.custom-tooltip{
    opacity: 0;
}
.info{
  width: 400px;
  position: absolute;
  float: right;
  top: 70px;
  right: 100px;
}
